<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns = "http://xmlns.jcp.org/xml/ns/javaee" 
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation ="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
		 version= "3.1">
 

	<servlet>

		<servlet-name>ValidateContactUs</servlet-name>
		<servlet-class>com.Contact_Patient.validatecontactServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>ValidateContactUs</servlet-name>
	<url-pattern>/validate</url-pattern>

	</servlet-mapping>
	
	
	<servlet>
	
	<servlet-name>contact_patientinsert</servlet-name>
	
	<servlet-class>com.Contact_Patient.Contact_PatientInsert</servlet-class>
	
	</servlet>
	
	
	<servlet-mapping>
	
	<servlet-name>contact_patientinsert</servlet-name>
	
	<url-pattern>/insert</url-pattern>
	
	</servlet-mapping>
	
	
	<servlet>

	<servlet-name>updatecontact_patient</servlet-name>
	
	<servlet-class>com.Contact_Patient.UpdateContact_PatientServlet</servlet-class>
	
	</servlet>
	
	
	<servlet-mapping>
	
	<servlet-name>updatecontact_patient</servlet-name>
	
	<url-pattern>/update</url-pattern>
	
	</servlet-mapping>
	
	<servlet>

	<servlet-name>deletecontact_patient</servlet-name>
	
	<servlet-class>com.Contact_Patient.DeleteContact_PatientServlet</servlet-class>
	
	</servlet>
	
	
	<servlet-mapping>
	
	<servlet-name>deletecontact_patient</servlet-name>
	
	<url-pattern>/delete</url-pattern>
	
	</servlet-mapping>
	
	
		
	<servlet>
	
	<servlet-name>search_doctorinsert</servlet-name>
	
	<servlet-class>com.Search_Doctor.InsertSearch_DoctorServlet</servlet-class>
	
	</servlet>
	
	
	<servlet-mapping>
	
	<servlet-name>search_doctorinsert</servlet-name>
	
	<url-pattern>/sdinsert</url-pattern>
	
	</servlet-mapping>
	
	
	<servlet>
	
	<servlet-name>Validatesearch_doctor</servlet-name>
	
	<servlet-class>com.Search_Doctor.ValidateSearch_DoctorServlet </servlet-class>
	
	</servlet>
	
	
	<servlet-mapping>
	
	<servlet-name>Validatesearch_doctor</servlet-name>
	
	<url-pattern>/sdvalidate</url-pattern>
	
	</servlet-mapping>
	
	
	
	
	
	<servlet>

	<servlet-name>updatesearch_doctor</servlet-name>
	
	<servlet-class>com.Search_Doctor.UpdateSearch_DoctorServlet</servlet-class>
	
	</servlet>
	
	
	<servlet-mapping>
	
	<servlet-name>updatesearch_doctor</servlet-name>
	
	<url-pattern>/sdupdate</url-pattern>
	
	</servlet-mapping>
	
	
	<servlet>

	<servlet-name>deletesearch_doctor</servlet-name>
	
	<servlet-class>com.Search_Doctor.DeleteSearch_DoctorServlet</servlet-class>
	
	</servlet>
	
	
	<servlet-mapping>
	
	<servlet-name>deletesearch_doctor</servlet-name>
	
	<url-pattern>/sddelete</url-pattern>
	
	</servlet-mapping>
	
	
	
	
</web-app>